<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/styles/style.css">

    <script type="module" src="/views/products.js"></script>
</head>

<body>
    <!-- <div class="spinner-waiting"></div> -->

    <header class="page-header">
        <div class="page-title">Tienda</div>
        <div class="cart-button" id="tDivCartButton">🛒</div>
        <div class="cart-content" id="tDivCart">
            <header>Cesta</header>
            <table id="tTabCart">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </header>

    <nav>
        <ul>
            <li><a href="/views/master.htm">Maestro de tablas</a></li>
            <li><a href="/views/categories.htm">Categorias</a></li>
            <li><a href="/views/products.htm">Productos</a></li>
            <li><a href="/views/pdfs.htm">Listados</a></li>
        </ul>
    </nav>

    <aside class="ads-left">Izquierda</aside>
    <aside class="ads-right">Derecha</aside>

    <main>
        <header>Productos</header>

        <table id="tTabProducts">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </main>

    <footer>© Adolfo Martín 2023</footer>
</body>

</html>