:host {
    display: inline-block;
}

div {
    display: grid;
    grid-template-columns: repeat(2, auto);
    border: solid 5px blue;
    gap: 0.5rem;
    padding: 0.5rem;
}

.like {
    grid-column: 1 / span 2;
}

img {
    width: 200px;
    grid-column: 1 / span 2;
}